{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        <span class="icon">{{ include('@InMemoryList/data_collector/icon.svg') }}</span>
        <span class="sf-toolbar-value">{{ collector.items|length }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>In Memory List Bundle </b>
            <span>v{{ collector.version }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Cached Lists</b>
            <span>{{ collector.items|length }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Total number of stored items</b>
            <span>{{ collector.size }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}

{% block menu %}
    <span class="label{% if collector.items|length == 0 %} disabled{% endif %}">
        <span class="icon">{{ include('@InMemoryList/data_collector/icon.svg') }}</span>
        <strong>In Memory List</strong>
        {% if collector.items|length > 0 %}
            <span class="count">
                <span>{{ collector.items|length }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}

    <!--
    - Driver in use
    -->
    <h2>Driver in use</h2>
    <table class="">
        <thead>
        <tr>
            <th class="key" scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>Driver</th>
                <td>{{ collector.driver }}</td>
            </tr>
        </tbody>
    </table>

    <!--
    - Lists stored in memory
    -->
    <h2>Lists stored in memory <small> ({{ collector.items|length }})</small></h2>
    <table class="">
        <thead>
        <tr>
            <th class="key" scope="col">List</th>
            <th scope="col">Created on</th>
            <th scope="col">Expires on</th>
            <th scope="col">Ttl</th>
            <th scope="col">Items</th>
            <th scope="col">Chunks</th>
            <th scope="col">Chunk size</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in collector.items if collector.items %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ value['created_on']|date("F jS \\a\\t g:ia") }}</td>
                <td>{{ value['expires_on']|date("F jS \\a\\t g:ia") }}</td>
                <td>{{ value['ttl'] }}</td>
                <td>{{ value['size'] }}</td>
                <td>{{ value['chunks'] }}</td>
                <td>{{ value['chunk-size'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--
    - Statistics
    -->
    <h2> Statistics</h2>
    <table class="">
        <thead>
        <tr>
            <th class="key" scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in collector.stats %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ dump(value) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}