{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="//fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <style>
        {{ include('@InMemoryList/data_collector/assets/css/app.css') }}
    </style>
{% endblock %}

{% block toolbar %}

    {% set icon %}
        <span class="icon">{{ include('@InMemoryList/data_collector/icon.svg') }}</span>
        <span class="sf-toolbar-value">{{ collector.size }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>In Memory List Bundle </b>
            <span>v{{ collector.version }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Driver in use</b>
            <span class="sf-toolbar-status">{{ collector.driver }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Total number of stored items</b>
            <span class="sf-toolbar-status">{{ collector.size }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}

{% block menu %}
    <span class="label{% if collector.size == 0 %} disabled{% endif %}">
        <span class="icon">{{ include('@InMemoryList/data_collector/icon.svg') }}</span>
        <strong>In Memory List</strong>
    </span>
{% endblock %}

{% block panel %}

    <!--
    - Lists stored in memory (loaded via AJAX)
    -->
    <h2>
        Lists stored in memory
        {% if collector.size %}
            <a href="#" id="inmemory_list_flush_cache" class="button danger pull-right">Purge Cache</a>
        {% endif %}
    </h2>
    <div id="inmemory_list_show">
        <div class="loading">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
        </div>
    </div>

    <!--
    - Statistics (loaded via static HTML)
    -->
    <h2> Statistics</h2>
    <table class="">
        <thead>
        <tr>
            <th class="key" scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in collector.stats %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ dump(value) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        {{ include('@InMemoryList/data_collector/assets/js/app.js') }}
    </script>

{% endblock %}